body {
  background: url("/about/fluffy-galaxies-bytecodeminer.png");
}

#back {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

#back img {
  width: 50px;
  height: 50px;
}

.card {
  background: url("/about/pokemon-mansion-joey-rex.jpg");
  aspect-ratio: initial;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid rgb(255, 245, 100);
  border-radius: 5px;
  position: relative;
  margin-top: -18px;
}

.card h2 {
  font-family: "Venice Classic", monospace;
  font-size: 2.5em;
  text-wrap: nowrap;
  color: rgb(253, 193, 240);
  background-color: rgba(156, 67, 137, 0.9);
  width: fit-content;
  padding: 2px 4px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
  font-style: italic;
}

.card p {
  font-family: "Venice Classic", monospace;
  text-wrap: nowrap;
  color: rgb(253, 193, 240);
  background-color: rgba(156, 67, 137, 0.9);
  width: fit-content;
  padding: 2px 4px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
}

#title {
  position: relative;
  right: -75%;
  z-index: 5;
}

#name {
  margin-left: 2%;
  margin-top: -1em;
  z-index: 5;
}

#zodiac {
  margin-top: -4em;
  margin-left: 75%;
}

.art-line {
  background-color: rgba(156, 67, 137, 0.9);
  width: 100%;
  height: 8px;
  z-index: 1;
}

#top {
  position: relative;
  top: 75px;
}

#bottom {
  position: relative;
  top: 105px;
}

.container {
  display: flex;
}

#party {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  position: relative;
  padding: 4px;
}

#party a img {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid rgb(255, 245, 100);
}

#trainer {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
}

#trainer img {
  height: 350px;
  width: 350px;
  padding-top: -20px;
}

#badges {
  background-color: rgba(156, 67, 137, 0.9);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  height: fit-content;
}

#icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: rgb(253, 193, 240);
  position: relative;
  z-index: 5;
}

#icons i {
  border: 1px solid rgb(255, 245, 100);
  padding: 3px 5px;
  border-radius: 50%;
  background-color: rgba(156, 67, 137, 0.9);
}

.badge-line {
  width: 100%;
  height: 4px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 245, 100, 0.7);
  margin-top: 52px;
}

#info-card {
  margin-top: 4em;
}

.buttons {
  margin: 2em 40%;
  width: fit-content;
  text-wrap: nowrap;
}

#top-2 {
  position: relative;
  margin-top: 1em;
}

#name-2 {
  position: relative;
  top: -1em;
  margin-left: 12px;
}
