@font-face {
  font-family: "Cloister Black";
  src: url(CloisterBlack.ttf);
}

@font-face {
  font-family: "Venice Classic";
  src: url(VeniceClassic.ttf);
}

@font-face {
  font-family: "Glow Night";
  src: url(GLOW\ NIGHT.otf);
}
